<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parktaeim.subway">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HoneyRankActivity">

        </activity>
        <activity android:name=".Activity.EventDetailActivity"/>
        <activity android:name=".Activity.ReviewWriteActivity" />
        <activity android:name=".Activity.MenuDetailActivity"/>
        <activity android:name=".Activity.HoneyAllActivity"/>
        <activity android:name=".Activity.HoneyDetailActivity"/>
        <activity android:name=".Activity.SettingsActivity"/>
        <activity android:name=".Activity.AboutDevelperActivity"/>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.ReviewActivity"/>
        <activity android:name=".Activity.SearchActivity"/>
        <activity android:name=".Activity.RelateHoneyActivity"/>
        <activity android:name=".Activity.HoneyEnrollmentActivity"/>
        <activity android:name=".Activity.KakaoSignUpActivity"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYX_b4wtxTb1KR5lmSVB_GHn-pvm90S3Y"/>
    </application>

</manifest>